<nav class="nav collapsible">
  <a class="nav__brand" href="/"
    ><img src="images/logo.svg" alt="Company Logo"
  /></a>

  <svg
    class="icon icon--white nav__toggler"
    viewbox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
    version="1.1"
    preserve_aspect_ratio="xMinYMin"
  >
    <use xlink:href="#menu"></use>
  </svg>

  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">Hosting</a></li>
    <li class="nav__item"><a href="#">VPS</a></li>
    <li class="nav__item"><a href="#">Domain</a></li>
    <li class="nav__item"><a href="#">Pricing</a></li>
  </ul>
</nav>
