<section class="block block--dark block--skewed--right block-showcase">
  <header class="block__header">
    <h2>User-Friendly Control Panel</h2>
  </header>
  <div class="container grid grid--1x2">
    <!-- picture of ipad -->
    <picture class="block-showcase__image">
      <source
        type="image/png"
        srcset="images/ipad@1x.png 1x, images/ipad@2x.png 2x"
      />
      <source
        type="image/webp"
        srcset="images/ipad@1x.webp 1x, images/ipad@2x.webp 2x"
      />
      <img src="images/ipad@1x.png" alt="" />
    </picture>

    <!-- Media Objects -->
    <ul class="list">
      <!-- Media Object 1 -->
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#computer"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy start & Managed Updates</h3>
            <p>
              Our cloud plans include easy onboarding for new and existing sites
              and managed WordPress and WooCommerce auto-updates.
            </p>
          </div>
        </div>
      </li>

      <!-- Media Object 2 -->
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#growth"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Staging, Git & WP-CLI</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
              obcaecati eius cumque! Fugiat velit consequatur nostrum explicabo
              necessitatibus totam facilis?
            </p>
          </div>
        </div>
      </li>

      <!-- Media Object 3 -->
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Dynamic Caching & More</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
              obcaecati eius cumque! Fugiat velit consequatur nostrum explicabo
              necessitatibus totam facilis?
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
